@media screen and (min-width: 1192px) {
    .container {
        max-width: 1220px;
    }
}

.card {
    box-shadow: none;
}

.card-content {
    padding: 1.5rem 0;
}

.section {
    padding: 1rem 0 0;
}

.title {
    font-weight: 700;
}